:root {
    --blue: #0D3777;
    --light-blue:#DBE1EB;
    --red:#EE403D;
    --grey:#333;
    --light-grey:#666;
    --transparent-black:rgba(0,0,0,0.25);
    --transparent-black-ligther:rgba(0,0,0,0.15);
    --transparent-white:rgba(255,255,255,0.5);
    --base-unit: 3px;
}
::selection {
    background: var(--red);
    color: #fff;
    text-shadow: none;
}
html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-color: var(--blue);
    font-family: 'Lato', sans-serif;
    padding: calc(var(--base-unit)*10);
    font-weight: 700;
    color: var(--grey);
}
body.bottomPadding {
    padding-bottom: calc(var(--base-unit)*70);
}
a {
    text-decoration: none;
    transition: 0.25s all;
    color: var(--blue);
    cursor: pointer;
}
p a {
    padding-bottom: var(--base-unit);
    border-bottom: 1px dashed var(--transparent-black);
}
p a:hover {
    color: var(--red);
    border-style: solid;
}
.languageSwitch {
    text-align: center;
    margin-bottom: calc(var(--base-unit)*-3);
    z-index: 2;
    top: 0;
    left: 50%;
}
.languageSwitch a {
    border-radius: calc(var(--base-unit)*2);
    padding: calc(var(--base-unit)*6) calc(var(--base-unit)*9);
    background-color: var(--blue);
    color: var(--transparent-white);
    border: 0;
    font-size: 12px;
}
.languageSwitch a:hover {
    color: white
}
.container {
    border-radius: var(--base-unit);
    background-color: white;
    padding: calc(var(--base-unit)*20);
    margin-bottom: calc(var(--base-unit)*10);
    z-index: 1;
}
.innerContainer {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

header nav ul li {
    display: inline-block;
}
header a {
    text-align: right;
    color: var(--grey);
    padding: calc(var(--base-unit)*5);
}
header a:hover {
    background-color: var(--blue);
    color: white;
    border-radius: var(--base-unit);
    transition: 0.25s all;
}

header a.contact {
    border: 1px solid var(--blue);
    border-radius: var(--base-unit);
    padding: calc(var(--base-unit)*5) calc(var(--base-unit)*15);
}
header a.contact:hover {
    border-color: var(--red);
    background-color: var(--red);
}
section {
    margin-bottom: 10vw;
}
h1 {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: calc(var(--base-unit)*10);
}
h2 {
    font-weight: 900;
    font-size: 72px;
    letter-spacing: -0.02em;
    margin-top: 10vw;
}
h3 {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.25;
    margin: calc(var(--base-unit)*10) 0;
    /* column-span: all; */
}
#about .textContent {
    column-count: 2;
    column-gap: calc(var(--base-unit)*20);
}
#about p {
    margin-bottom: calc(var(--base-unit)*5);
    line-height: 1.5;
    font-weight: normal;
    color: var(--light-grey);
}

#skills .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: calc(var(--base-unit)*20);
}
#skills .columns .highlight {
    flex: 1 1;
    background-color: var(--red);
    color: white;
    padding: calc(var(--base-unit)*10);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#skills .columns .highlight strong {
    font-size: 64px;
    font-weight: 900;
    display: block;
}
#skills .vertical {
    flex: 1 1;
}
#skills .vertical h4 {
    font-size: 21px;
    margin: calc(var(--base-unit)*5) 0;
}
#skills .vertical p {
    margin-bottom: calc(var(--base-unit)*5);
    line-height: 1.5;
    font-weight: normal;
    color: var(--light-grey);
    font-size: 14px;
}
#skills .logos {
    min-height: calc(var(--base-unit)*40);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
#skills .logos img {
    height: 40px;
    margin: 0 calc(var(--base-unit)*3) calc(var(--base-unit)*6) calc(var(--base-unit)*3);
}

#skills figure {
    position: relative;
    display: inline-block;
}

#skills figure figcaption {
    visibility: hidden;
    width: 120px;
    background-color: var(--light-grey);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

#skills figure figcaption::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--light-grey) transparent transparent transparent;
}

#skills figure:hover figcaption {
    visibility: visible;
    opacity: 1;
}


#clients .grid {
    background-color: var(--transparent-black-ligther);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
}
#clients .grid figure {
    background-color: white;
    padding: calc(var(--base-unit)*30) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: 0.25s all;
    max-height: calc(var(--base-unit)*32);
}
#clients .grid figure img {
    max-height: calc(var(--base-unit)*16);
    height: auto;
    max-width: 40%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    margin-bottom: calc(var(--base-unit) * -8);
}
#clients .grid figure:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    margin-bottom: 0;
}
#clients .grid figure p {
    transform: scale(0);
    margin-top: calc(var(--base-unit)*4);
    text-align: center;
    transition: 0.25s all;
}
#clients .grid figure:hover p {
    transform: scale(100%);
}
#projects button {
    border-radius: calc(var(--base-unit)*10);
    border: 1px solid var(--transparent-black);
    padding: calc(var(--base-unit)*3) calc(var(--base-unit)*6);
    background-color: var(--light-blue);
    cursor: pointer;
    transition: 0.25s all;
}
#projects button:hover {
    border-color: var(--blue);
}
#projects .filters {
    margin-bottom: calc(var(--base-unit)*10);
}
#projects .filters button {
    background:transparent;
    font-weight: bold;
    border: 2px solid var(--transparent-black-ligther);
}
#projects .filters button:hover {
    background:var(--blue);
    color: #fff;
}
#projects .filters button.active {
    background-color: var(--red);
    color: white;
}
#projects .thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--base-unit)*10);
    row-gap: calc(var(--base-unit)*10);
    margin-bottom: calc(var(--base-unit)*10);
}
#projects .thumbnails .project {
    position: relative;
    background-color: var(--grey);
    border-radius: var(--base-unit);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--base-unit)*10);
    min-height: calc(var(--base-unit)*120);
    text-align: center;
    transition: 0.25s all;
    overflow: hidden;
}
#projects .thumbnails .project:hover {
    background-color: var(--blue);
}
#projects .thumbnails .project img {
    position: absolute;
    border-radius: var(--base-unit);
    opacity: 0.25;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: 0.25s all;
}
#projects .thumbnails .project h4 {
    font-size: 24px;
    color: white;
    z-index: 2;
}
#projects .thumbnails .project ul {
    column-gap: calc(var(--base-unit)*4);
    z-index: 3;
    display: flex;
    transform: scale(0);
}
#projects .thumbnails .project ul a {
    color: white;
    border-radius: calc(var(--base-unit)*2);
    padding: calc(var(--base-unit)*6) calc(var(--base-unit)*9);
    border: 2px solid white;
    background-color: var(--transparent-white);
    text-shadow:1px 1px 0 var(--transparent-black);
}
#projects .thumbnails .project ul a:hover {
    background-color: var(--blue);
}
#projects .thumbnails .project:hover ul {
    transform: scale(100%);
    transition: 0.25s all;
}
#projects .thumbnails .project:hover h4 {
    display: none;
    transition: 0.25s all;
}
#projects .thumbnails .project:hover img {
    opacity: 0.1;
    transition: 0.25s all;
    scale: 1.1;
    filter: grayscale(100%);
}
.filters h3 {
    color: var(--red);
    text-align: center;
}
footer {
    text-align: center;
    color: white;
    margin: 10vw 0;
}
footer p {
    color: var(--transparent-white);
}
footer a {
    color: white;
    border: 0;
    margin: 0 calc(var(--base-unit)*5);
}
footer small {
    display: block;
    margin-bottom: calc(var(--base-unit)*5);
}
footer .footnote {
    margin-top: 10vw;
}
footer a[class="resume"] {
    text-transform: capitalize;
}
footer li {
    display: inline;
}

p strong {
    font-weight: bold;
    color: var(--grey);
}
.cookieConsent {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    background-color: white;
    width: 100vw;
    left: 0;
    padding: calc(var(--base-unit)*10);
    box-shadow: calc(var(--base-unit) * -4) 0 calc(var(--base-unit)*10) var(--transparent-black);
}
.cookieConsent button {
    background-color: var(--red);
    color: white;
    border-radius: var(--base-unit);
    border: 0;
    padding: calc(var(--base-unit)*4);
    cursor: pointer;
    margin-left: calc(var(--base-unit)*10);
}
@media screen and (max-width: 900px) {
    body {
        padding: 0;
    }
    .container {
        padding: calc(var(--base-unit)*10);
        border-radius: 0;
    }
    #projects .thumbnails {
        display: grid;
        grid-template-columns: 1fr;
    }
    #projects .thumbnails .project h4 {
        display: block;
        margin-bottom: 40px;
    }
    #projects .thumbnails .project ul {
        display: flex;
        transform: scale(1);
    }
    .project li {
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
    #projects .thumbnails .project ul li a {
        display: block;
    }
    #projects .thumbnails .project:hover h4 {
        display: block;
    }
    #about .textContent {
        column-count: 1;
    }
    #clients .grid {
        grid-template-columns: 1fr 1fr;
    }
    #skills .vertical {
        flex: auto;
    }
    #skills .highlight {
        margin-bottom: calc(var(--base-unit)*10);
    }
    footer li {
        display: block;
        margin-bottom: calc(var(--base-unit)*5);
    }
    nav {
        display: none;
    }
    header a.contact {
        padding: calc(var(--base-unit)*4);
        text-align: center;
    }
    h1 {
        padding-left: calc(var(--base-unit)*4);
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 24px;
    }
    .languageSwitch {
        margin-bottom: 0;
        display: flex;
    }
    .languageSwitch a {
        width: 100%;
    }
    .cookieConsent button {
        width: 100%;
        margin-top: calc(var(--base-unit)*10);
        margin-left: 0;
    }
}